.game-container {
  display: none;
}

.stats {
  display: flex;
  gap: 10px;
}

.view {
  height: 600px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.room {
  height: 100px;
}

.tomo {
  position: absolute;

  background-color: red;
  width: 100px;
  height: 100px;
}

.food {
  position: absolute;
  background-color: brown;
  width: 50px;
  height: 50px;
}

#berry1 {
  background-color: pink;
}
#berry2 {
  background-color: blue;
}

.action-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;

  justify-self: flex-end;
}

