.home {
  /* background-image: url('/background.jpg');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat; */
  background-color: rgb(126, 184, 203);
  min-height: 100vh;
  position: relative;
}

/* .hippo {
  height: 300px;
  bottom: 10%;
  position: absolute;
} */

.start-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

#fish {
  height: 300px;
  width: 300px;
  top: 0;
  left: 0px;
  position: absolute;
}

#bowl {
  height: 300px;
  width: 300px;
  top: 0;
  position: absolute;
  background-color: blue;
}